/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font and color for body */
body {
  font-family: Calibri, sans-serif;
  color: #0077cc;
  background-color: #f7f7f7;
}

/* Add some spacing between sections */
section {
  margin-bottom: 40px;
}

/* Style links */
a {
  text-decoration: none;
  color: #0077cc;
}

/* Set layout for main content area */
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 50px; /* Add some left padding */
  padding-right: 120px; /* Decrease the right padding to avoid overlap with contact info */
  float: left;
}

/* Set layout for header */
header {
  background-color: #fff;
}

/* Set layout for footer */
footer {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Set styles for headings */
h1, h2, h3 {
  font-weight: bold;
  line-height: 1.2;
  margin-top: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #0077cc;
  padding-bottom: 0.25em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* Set styles for paragraphs */
p {
  line-height: 1.5;
  margin-bottom: 1em;
}

/* Set styles for unordered lists */
ul {
  list-style-type: disc;
  margin-left: 2em;
  margin-bottom: 1em;
}

/* Set styles for list items */
li {
  margin-bottom: 0.5em;
}

/* Set styles for contact information */
.contact-info {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  max-width: 300px;
  margin: 20px;
}

.contact-info h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.contact-info p {
  margin-bottom: 0.5em;
}

/* Set styles for job titles */
.job h2 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

/* Set styles for job details */
.job p {
  margin-bottom: 0.5em;
}

/* Set styles for job responsibilities */
.job ul {
  margin-bottom: 1em;
}

/* Set styles for job responsibilities list items */
.job li {
  margin-bottom: 0.3em;
}

/* Set styles for job offers */
.job ul:last-of-type {
  margin-bottom: 0;
}

/* Set styles for about me section */
.about-me, .skills {
  margin-top: 100px; /* Add some space between the contact info and the content */
}
